.drawing__room {
    stroke: black;
    fill: none;
    /*INNER_WALL_W*/
    stroke-width: 4; 
}

.drawing__opening {
    fill: none;
    stroke: grey;
    stroke-width: 1;
}

.drawing__opening_holes {
    fill: black;
    fill-opacity: 0.5;
}

.drawing__door {
    fill: none;
    stroke: grey;
    stroke-width: 1;
}

.drawing__room_floor {
    fill-opacity :0.3;
}
